{define col-filter-firstname}
	<div class="input-group">
		<span class="input-group-addon input-sm">@</span>
		{input $column->name class => "input-sm"}
	</div>
{/define}

{define cell-symbol}
	{if $row->gender === 'male'}
		<span class="glyphicon glyphicon-usd"></span>
	{else}
		<span class="glyphicon glyphicon-heart-empty"></span>
	{/if}
{/define}
